@import "color-palette.scss";
@import "layout.scss";
@import "material-icons.scss";

html, body {
  background: #E0E4E9;
  height: 100%;
}


:global {
  * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
  }
  #app {
    height: 100%;
  }

  #fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
  }
  ._centered_loader {
    width: 50px;
    height: 50px;
    display: block;
    margin: 100px auto;
  }

  .mdl-layout__content {
    height: auto;
    height: calc(100% - 64px);
  }
}
