.root {
  padding-top: 20px;
  width: 100%;
  &.active {
    background-color: #aaa;
    .dropzone {
      background-color: #aaa;
    }
  }
}

.dropzone {
  cursor: pointer;
  background: #efefef;
  border: dashed 2px #ddd;
  width: 95%;
  width: calc(100% - 30px);
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropzoneInner {
  display: inline-block;
  width: auto;
  color: #999;
  font-size: 24px;
  :global(.material-icons) {
    font-size: 25px;
    margin-right: 5px;
    top: 3px;
  }
}
.fileInput{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height:0;
}